</main>
<footer class="footer position-absolute">
  <div class="row g-0 justify-content-between align-items-center h-100">
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 mt-2 mt-sm-0 text-900">
        Auxiliary Police of LAKMNS<span class="d-none d-sm-inline-block"></span
        ><span class="d-none d-sm-inline-block mx-1">|</span
        ><br class="d-sm-none" />2023 &copy;<a
          class="mx-1"
          href="https://lakmns.org.my/ms/"
          >LAKMNS</a
        >
      </p>
    </div>
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 text-600">v1.1.0</p>
    </div>
  </div>
</footer>
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="../vendors/popper/popper.min.js"></script>
<script src="../vendors/bootstrap/bootstrap.min.js"></script>
<script src="../vendors/anchorjs/anchor.min.js"></script>
<script src="../vendors/is/is.min.js"></script>
<script src="../vendors/fontawesome/all.min.js"></script>
<script src="../vendors/lodash/lodash.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="../vendors/list.js/list.min.js"></script>
<script src="../vendors/feather-icons/feather.min.js"></script>
<script src="../vendors/dayjs/dayjs.min.js"></script>
<script src="../assets/js/phoenix.js"></script>
<script src="../vendors/echarts/echarts.min.js"></script>
<script src="../vendors/leaflet/leaflet.js"></script>
<script src="../vendors/leaflet.markercluster/leaflet.markercluster.js"></script>
<script src="../vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js"></script>
<script src="../assets/js/ecommerce-dashboard.js"></script>
<!-- file uploader -->
<script src="../vendors/dropzone/dropzone.js"></script>
<!-- datepicker -->
<script src="assets/js/flatpickr.js"></script>

<script>
  // // Configure Dropzone options for the myDropzone instance
  // Dropzone.options.myDropzone = {
  //   autoProcessQueue: false, // Set autoProcessQueue to false
  //   paramName: 'file', // The name to use for the uploaded file in the HTTP request
  //   maxFilesize: 5, // Maximum file size in megabytes
  //   acceptedFiles: '.jpg, .jpeg, .png, .gif', // Allowed file types
  //   addRemoveLinks: true, // Show remove links for uploaded files
  // };
  
  document
    .getElementById('uploadButton')
    .addEventListener('click', function () {
      const myDropzone = Dropzone.forElement('#myDropzone');

      if (myDropzone.getQueuedFiles().length > 0) {
        myDropzone.processQueue();
      }
    });
</script>

</body>

</html>