</main>
<footer class="footer position-absolute d-print-none">
  <div class="row g-0 justify-content-between align-items-center h-100">
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 mt-2 mt-sm-0 text-900">
        Auxiliary Police of LAKMNS<span class="d-none d-sm-inline-block"></span
        ><span class="d-none d-sm-inline-block mx-1">|</span
        ><br class="d-sm-none" />2023 &copy;<a
          class="mx-1"
          href="https://lakmns.org.my/ms/"
          >LAKMNS</a
        >
      </p>
    </div>
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 text-600">V1.1.0</p>
    </div>
  </div>
</footer>
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="/vendors/popper/popper.min.js"></script>
<script src="/vendors/bootstrap/bootstrap.min.js"></script>
<script src="/vendors/anchorjs/anchor.min.js"></script>
<script src="/vendors/is/is.min.js"></script>
<script src="/vendors/fontawesome/all.min.js"></script>
<script src="/vendors/lodash/lodash.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="/vendors/list.js/list.min.js"></script>
<script src="/vendors/feather-icons/feather.min.js"></script>
<script src="/vendors/dayjs/dayjs.min.js"></script>
<script src="/assets/js/phoenix.js"></script>
<script src="/vendors/echarts/echarts.min.js"></script>
<script src="/vendors/leaflet/leaflet.js"></script>
<script src="/vendors/leaflet.markercluster/leaflet.markercluster.js"></script>
<script src="/vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js"></script>
<script src="/assets/js/ecommerce-dashboard.js"></script>
<!-- jquery -->
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
<!-- file uploader -->
<script src="/vendors/dropzone/dropzone.js"></script>
<!-- datepicker -->
<script src="/assets/js/flatpickr.js"></script>

<script>
  $('#uploadButtonPatrol').on('click', function () {
    var button = $(this);
    button.addClass('loading').prop('disabled', true);

    setTimeout(function () {
      // var toast = $('#alertToast');
      button.prop('type', 'submit');
      button.removeClass('loading').prop('disabled', false);
    }, 2000);

    var myDropzone1 = Dropzone.forElement('#myDropzone1');

    if (myDropzone1.getQueuedFiles().length > 0) {
      myDropzone1.processQueue();
    }
  });

  document
    .getElementById('uploadButtonCase')
    .addEventListener('click', function () {
      // Disable the button and add the loading class
      var button = this;
      button.classList.add('loading');
      button.disabled = true;

      // Delay showing the specific toast for 2 seconds
      setTimeout(function () {
        // Get the specific toast by its id
        // var toast = document.getElementById('alertToast');

        button.setAttribute('type', 'submit');

        // Re-enable the button and remove the loading class
        button.classList.remove('loading');
        button.disabled = false;
      }, 2000); // 2000 milliseconds (2 seconds)

      var myDropzone2 = Dropzone.forElement('#myDropzone2');

      if (myDropzone2.getQueuedFiles().length > 0) {
        myDropzone2.processQueue();
      }

      var formElement2 = document.getElementById('caseReportForm');
      formElement2.submit();
    });

  document
    .getElementById('uploadButtonSchedule')
    .addEventListener('click', function () {
      // Disable the button and add the loading class
      var button = this;
      button.classList.add('loading');
      button.disabled = true;

      // Delay showing the specific toast for 2 seconds
      setTimeout(function () {
        // Get the specific toast by its id
        // var toast = document.getElementById('alertToast');

        button.setAttribute('type', 'submit');

        // Re-enable the button and remove the loading class
        button.classList.remove('loading');
        button.disabled = false;
      }, 2000); // 2000 milliseconds (2 seconds)

      var myDropzone3 = Dropzone.forElement('#myDropzone3');

      if (myDropzone3.getQueuedFiles().length > 0) {
        myDropzone3.processQueue();
      }

      var formElement3 = document.getElementById('scheduleReportForm');
      formElement3.submit();
    });
</script>

</body>

</html>