</main>
<footer class="footer position-absolute">
  <div class="row g-0 justify-content-between align-items-center h-100">
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 mt-2 mt-sm-0 text-900">
        Auxiliary Police of LAKMNS<span class="d-none d-sm-inline-block"></span
        ><span class="d-none d-sm-inline-block mx-1">|</span
        ><br class="d-sm-none" />2023 &copy;<a
          class="mx-1"
          href="https://lakmns.org.my/ms/"
          >LAKMNS</a
        >
      </p>
    </div>
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 text-600">v1.1.0</p>
    </div>
  </div>
</footer>
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="/vendors/popper/popper.min.js"></script>
<script src="/vendors/bootstrap/bootstrap.min.js"></script>
<script src="/vendors/anchorjs/anchor.min.js"></script>
<script src="/vendors/is/is.min.js"></script>
<script src="/vendors/fontawesome/all.min.js"></script>
<script src="/vendors/lodash/lodash.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="/vendors/list.js/list.min.js"></script>
<script src="/vendors/feather-icons/feather.min.js"></script>
<script src="/vendors/dayjs/dayjs.min.js"></script>
<script src="/assets/js/phoenix.js"></script>
<script src="/vendors/echarts/echarts.min.js"></script>
<script src="/vendors/leaflet/leaflet.js"></script>
<script src="/vendors/leaflet.markercluster/leaflet.markercluster.js"></script>
<script src="/vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js"></script>
<script src="/assets/js/ecommerce-dashboard.js"></script>
<!-- file uploader -->
<script src="/vendors/dropzone/dropzone.js"></script>
<!-- datepicker -->
<script src="/assets/js/flatpickr.js"></script>

<script> 

   document.getElementById('uploadButton').addEventListener('click', function() {
    // Disable the button and add the loading class
    var button = this;
    button.classList.add('loading');
    button.disabled = true;

    // Delay showing the specific toast for 2 seconds
    setTimeout(function() {
      // Get the specific toast by its id
      // var toast = document.getElementById('alertToast');

      const myDropzone = Dropzone.forElement('#myDropzone');

      if (myDropzone.getQueuedFiles().length > 0) {
        myDropzone.processQueue();
      }
      
      button.setAttribute('type', 'submit');

      // // Show the specific toast by removing the 'd-none' class
      // toast.classList.add('show');

      // Re-enable the button and remove the loading class
      button.classList.remove('loading');
      button.disabled = false;
    }, 1500); // 2000 milliseconds (2 seconds)

    var formElement = document.getElementById('patrolReportForm');
    formElement.submit();
  });
</script>

</body>

</html>