<footer class="footer position-absolute d-print-none">
  <div class="row g-0 justify-content-between align-items-center h-100">
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 mt-2 mt-sm-0 text-900">
        Auxiliary Police of LAKMNS<span class="d-none d-sm-inline-block"></span
        ><span class="d-none d-sm-inline-block mx-1">|</span
        ><br class="d-sm-none" />2023 &copy;<a
          class="mx-1"
          href="https://lakmns.org.my/ms/"
          >LAKMNS</a
        >
      </p>
    </div>
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 text-600">V1.1.0</p>
    </div>
  </div>
</footer>
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="/vendors/popper/popper.min.js"></script>
<script src="/vendors/bootstrap/bootstrap.min.js"></script>
<script src="/vendors/anchorjs/anchor.min.js"></script>
<script src="/vendors/is/is.min.js"></script>
<script src="/vendors/fontawesome/all.min.js"></script>
<script src="/vendors/lodash/lodash.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="/vendors/list.js/list.min.js"></script>
<script src="/vendors/feather-icons/feather.min.js"></script>
<script src="/vendors/dayjs/dayjs.min.js"></script>
<script src="/assets/js/phoenix.js"></script>
<script src="/vendors/echarts/echarts.min.js"></script>
<script src="/vendors/leaflet/leaflet.js"></script>
<script src="/vendors/leaflet.markercluster/leaflet.markercluster.js"></script>
<script src="/vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js"></script>
<script src="/assets/js/ecommerce-dashboard.js"></script>
<!-- jquery -->
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
<!-- file uploader -->
<script src="/vendors/dropzone/dropzone.js"></script>
<!-- datepicker -->
<script src="/assets/js/flatpickr.js"></script>

<script>
  $(document).ready(function () {
    // PATROL REPORT SUBMIT

    // Function to show the toast
    function showDropzoneFilesToast(content) {
      $('#dropzoneAlertContent').text(content);

      var toast = new bootstrap.Toast(
        document.getElementById('alertUploadToast')
      );
      toast.show();
    }

    var myDropzone = Dropzone.forElement('#myDropzone');

    $('#uploadButton').on('click', function () {
      var button = $(this);
      button.addClass('loading').prop('disabled', true);

      setTimeout(function () {
        // files upload process queue

        if (myDropzone.getQueuedFiles().length > 0) {
          // If files are present, show the toast with appropriate content
          showDropzoneFilesToast('Files has been uploaded');
          // Process the Dropzone queue
          myDropzone.processQueue();
        } else {
          // If no files are present, show the toast with different content
          showDropzoneFilesToast('No files selected');
        }

        // var toast = $('#alertToast');
        button.prop('type', 'submit');
        button.removeClass('loading').prop('disabled', false);
      }, 2000);
    });
  });

 
</script>

<!-- to be added later close tag for body and html -->
