<%- include("partials/header") %> <%- include("partials/navbar") %>

<div id="myMapContainer" style="height: 60vh;" class="m-3 rounded-3 mx-0"></div>

<%- include("partials/navbar-script") %> <%- include("partials/footer") %>