<%- include("partials/header") %> <%- include("partials/navbar") %>

<div class="content px-0 pt-9">
  <div class="row g-0">
    <div class="col-12 col-xxl-8 px-0 bg-soft">
      <div class="px-4 px-lg-6 pt-6 pb-9">
        <!-- top header section -->
        <div class="mb-5">
          <div class="d-flex justify-content-between">
            <h2 class="text-black fw-bolder mb-2">Title Report</h2>
            <div class="font-sans-serif btn-reveal-trigger">
              <button
                class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal"
                type="button"
                data-bs-toggle="dropdown"
                data-boundary="window"
                aria-haspopup="true"
                aria-expanded="false"
                data-bs-reference="parent"
              >
                <span class="fas fa-ellipsis-h"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-end py-2">
                <a class="dropdown-item" href="#!">Edit</a
                ><a class="dropdown-item text-danger" href="#!">Delete</a
                ><a class="dropdown-item" href="#!">Print</a>
              </div>
            </div>
          </div>
        </div>

        <!-- body section -->
        <div class="row gx-0 gx-sm-5 gy-8 mb-n5">
          <div class="col-12 col-xl-3 col-xxl-4 pe-xl-0">
            <!-- first section -->
            <div class="mb-4 mb-xl-7">
              <div class="row gx-0 gx-sm-7">
                <div class="col-12 col-sm-auto">
                  <table class="lh-sm mb-4 mb-sm-0 mb-xl-4">
                    <tbody>
                      <tr>
                        <td class="py-1" colspan="2">
                          <div class="d-flex">
                            <span
                              class="fa-solid fa-earth-americas me-2 text-700 fs--1"
                            ></span>
                            <h5 class="text-900">Report type</h5>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="align-top py-1">
                          <div class="d-flex">
                            <span
                              class="fa-solid fa-user me-2 text-700 fs--1"
                            ></span>
                            <h5 class="text-900 mb-0 text-nowrap">
                              Submit by :
                            </h5>
                          </div>
                        </td>
                        <td class="ps-1 py-1">
                          <a class="fw-semi-bold d-block lh-sm" href="#!"
                            >Staff Name</a
                          >
                        </td>
                      </tr>
                      <tr>
                        <td class="align-top py-1">
                          <div class="d-flex">
                            <span
                              class="fa-regular fa-credit-card me-2 text-700 fs--1"
                            ></span>
                            <h5 class="text-900 mb-0 text-nowrap">
                              Username :
                            </h5>
                          </div>
                        </td>
                        <td class="fw-bold ps-1 py-1 text-1000">PB Number</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-12 col-sm-auto">
                  <table class="lh-sm">
                    <tbody>
                      <tr>
                        <td class="align-top py-1 text-900 text-nowrap fw-bold">
                          Date :
                        </td>
                        <td class="text-600 fw-semi-bold ps-3">Case Date</td>
                      </tr>
                      <tr>
                        <td class="align-top py-1 text-900 text-nowrap fw-bold">
                          Location :
                        </td>
                        <td class="text-600 fw-semi-bold ps-3">5 Location</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-xl-9 col-xxl-8">
            <div class="row flex-between-center mb-2 g-3">
              <h4 class="text-1100 mb-4">Staff on duty :</h4>
              <div class="d-flex mb-8">
                <div class="dropdown">
                  <a
                    class="dropdown-toggle dropdown-caret-none d-inline-block outline-none"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-auto-close="outside"
                  >
                    <div class="avatar avatar-xl me-1">
                      <img
                        class="rounded-circle"
                        src="../../assets/img//team/33.webp"
                        alt=""
                      />
                    </div>
                  </a>
                  <div
                    class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden"
                    style="width: 320px"
                  >
                    <div class="position-relative">
                      <div
                        class="bg-holder z-index--1"
                        style="
                          background-image: url(../../assets/img/bg/bg-32.png);
                          background-size: auto;
                        "
                      ></div>
                      <!--/.bg-holder-->

                      <div class="p-3">
                        <div class="text-end">
                          <button class="btn p-0 me-2">
                            <span
                              class="fa-solid fa-user-plus text-white light"
                            ></span>
                          </button>
                          <button class="btn p-0">
                            <span
                              class="fa-solid fa-ellipsis text-white light"
                            ></span>
                          </button>
                        </div>
                        <div class="text-center">
                          <div
                            class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2"
                          >
                            <img
                              class="rounded-circle border border-white"
                              src="../../assets/img//team/33.webp"
                              alt=""
                            />
                          </div>
                          <h6 class="text-white light">Tyrion Lannister</h6>
                          <p class="text-600 fw-semi-bold fs--2 mb-2">
                            @tyrion222
                          </p>
                          <div class="d-flex flex-center mb-3">
                            <h6 class="text-white light mb-0">
                              224
                              <span class="fw-normal text-300"
                                >connections</span
                              >
                            </h6>
                            <span
                              class="fa-solid fa-circle text-700 mx-1"
                              data-fa-transform="shrink-10 up-2"
                            ></span>
                            <h6 class="text-white light mb-0">
                              23 <span class="fw-normal text-300">mutual</span>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bg-white">
                      <div class="p-3 border-bottom">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex">
                            <button
                              class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"
                            >
                              <span class="fa-solid fa-phone"></span>
                            </button>
                            <button
                              class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"
                            >
                              <span class="fa-solid fa-message"></span>
                            </button>
                            <button
                              class="btn btn-phoenix-secondary btn-icon btn-icon-lg"
                            >
                              <span class="fa-solid fa-video"></span>
                            </button>
                          </div>
                          <button class="btn btn-phoenix-primary">
                            <span class="fa-solid fa-envelope me-2"></span>Send
                            Email
                          </button>
                        </div>
                      </div>
                      <ul class="nav d-flex flex-column py-3 border-bottom">
                        <li class="nav-item">
                          <a
                            class="nav-link px-3 d-flex flex-between-center"
                            href="#!"
                          >
                            <span
                              class="me-2 text-900 d-inline-block"
                              data-feather="clipboard"
                            ></span
                            ><span class="text-1000 flex-1"
                              >Assigned Projects</span
                            ><span
                              class="fa-solid fa-chevron-right fs--3"
                            ></span
                          ></a>
                        </li>
                        <li class="nav-item">
                          <a
                            class="nav-link px-3 d-flex flex-between-center"
                            href="#!"
                          >
                            <span
                              class="me-2 text-900"
                              data-feather="pie-chart"
                            ></span
                            ><span class="text-1000 flex-1">View activiy</span
                            ><span
                              class="fa-solid fa-chevron-right fs--3"
                            ></span
                          ></a>
                        </li>
                      </ul>
                    </div>
                    <div class="p-3 d-flex justify-content-between">
                      <a class="btn btn-link p-0 text-decoration-none" href="#!"
                        >Details </a
                      ><a
                        class="btn btn-link p-0 text-decoration-none text-danger"
                        href="#!"
                        >Unassign
                      </a>
                    </div>
                  </div>
                </div>
                <div class="dropdown">
                  <a
                    class="dropdown-toggle dropdown-caret-none d-inline-block outline-none"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-auto-close="outside"
                  >
                    <div class="avatar avatar-xl me-1">
                      <img
                        class="rounded-circle"
                        src="../../assets/img//team/30.webp"
                        alt=""
                      />
                    </div>
                  </a>
                  <div
                    class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden"
                    style="width: 320px"
                  >
                    <div class="position-relative">
                      <div
                        class="bg-holder z-index--1"
                        style="
                          background-image: url(../../assets/img/bg/bg-32.png);
                          background-size: auto;
                        "
                      ></div>
                      <!--/.bg-holder-->

                      <div class="p-3">
                        <div class="text-end">
                          <button class="btn p-0 me-2">
                            <span
                              class="fa-solid fa-user-plus text-white light"
                            ></span>
                          </button>
                          <button class="btn p-0">
                            <span
                              class="fa-solid fa-ellipsis text-white light"
                            ></span>
                          </button>
                        </div>
                        <div class="text-center">
                          <div
                            class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2"
                          >
                            <img
                              class="rounded-circle border border-white"
                              src="../../assets/img//team/30.webp"
                              alt=""
                            />
                          </div>
                          <h6 class="text-white light">Milind Mikuja</h6>
                          <p class="text-600 fw-semi-bold fs--2 mb-2">
                            @tyrion222
                          </p>
                          <div class="d-flex flex-center mb-3">
                            <h6 class="text-white light mb-0">
                              224
                              <span class="fw-normal text-300"
                                >connections</span
                              >
                            </h6>
                            <span
                              class="fa-solid fa-circle text-700 mx-1"
                              data-fa-transform="shrink-10 up-2"
                            ></span>
                            <h6 class="text-white light mb-0">
                              23 <span class="fw-normal text-300">mutual</span>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bg-white">
                      <div class="p-3 border-bottom">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex">
                            <button
                              class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"
                            >
                              <span class="fa-solid fa-phone"></span>
                            </button>
                            <button
                              class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"
                            >
                              <span class="fa-solid fa-message"></span>
                            </button>
                            <button
                              class="btn btn-phoenix-secondary btn-icon btn-icon-lg"
                            >
                              <span class="fa-solid fa-video"></span>
                            </button>
                          </div>
                          <button class="btn btn-phoenix-primary">
                            <span class="fa-solid fa-envelope me-2"></span>Send
                            Email
                          </button>
                        </div>
                      </div>
                      <ul class="nav d-flex flex-column py-3 border-bottom">
                        <li class="nav-item">
                          <a
                            class="nav-link px-3 d-flex flex-between-center"
                            href="#!"
                          >
                            <span
                              class="me-2 text-900 d-inline-block"
                              data-feather="clipboard"
                            ></span
                            ><span class="text-1000 flex-1"
                              >Assigned Projects</span
                            ><span
                              class="fa-solid fa-chevron-right fs--3"
                            ></span
                          ></a>
                        </li>
                        <li class="nav-item">
                          <a
                            class="nav-link px-3 d-flex flex-between-center"
                            href="#!"
                          >
                            <span
                              class="me-2 text-900"
                              data-feather="pie-chart"
                            ></span
                            ><span class="text-1000 flex-1">View activiy</span
                            ><span
                              class="fa-solid fa-chevron-right fs--3"
                            ></span
                          ></a>
                        </li>
                      </ul>
                    </div>
                    <div class="p-3 d-flex justify-content-between">
                      <a class="btn btn-link p-0 text-decoration-none" href="#!"
                        >Details </a
                      ><a
                        class="btn btn-link p-0 text-decoration-none text-danger"
                        href="#!"
                        >Unassign
                      </a>
                    </div>
                  </div>
                </div>
                <div class="dropdown">
                  <a
                    class="dropdown-toggle dropdown-caret-none d-inline-block outline-none"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-auto-close="outside"
                  >
                    <div class="avatar avatar-xl me-1">
                      <img
                        class="rounded-circle"
                        src="../../assets/img//team/31.webp"
                        alt=""
                      />
                    </div>
                  </a>
                  <div
                    class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden"
                    style="width: 320px"
                  >
                    <div class="position-relative">
                      <div
                        class="bg-holder z-index--1"
                        style="
                          background-image: url(../../assets/img/bg/bg-32.png);
                          background-size: auto;
                        "
                      ></div>
                      <!--/.bg-holder-->

                      <div class="p-3">
                        <div class="text-end">
                          <button class="btn p-0 me-2">
                            <span
                              class="fa-solid fa-user-plus text-white light"
                            ></span>
                          </button>
                          <button class="btn p-0">
                            <span
                              class="fa-solid fa-ellipsis text-white light"
                            ></span>
                          </button>
                        </div>
                        <div class="text-center">
                          <div
                            class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2"
                          >
                            <img
                              class="rounded-circle border border-white"
                              src="../../assets/img//team/31.webp"
                              alt=""
                            />
                          </div>
                          <h6 class="text-white light">Stanly Drinkwater</h6>
                          <p class="text-600 fw-semi-bold fs--2 mb-2">
                            @tyrion222
                          </p>
                          <div class="d-flex flex-center mb-3">
                            <h6 class="text-white light mb-0">
                              224
                              <span class="fw-normal text-300"
                                >connections</span
                              >
                            </h6>
                            <span
                              class="fa-solid fa-circle text-700 mx-1"
                              data-fa-transform="shrink-10 up-2"
                            ></span>
                            <h6 class="text-white light mb-0">
                              23 <span class="fw-normal text-300">mutual</span>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bg-white">
                      <div class="p-3 border-bottom">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex">
                            <button
                              class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"
                            >
                              <span class="fa-solid fa-phone"></span>
                            </button>
                            <button
                              class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"
                            >
                              <span class="fa-solid fa-message"></span>
                            </button>
                            <button
                              class="btn btn-phoenix-secondary btn-icon btn-icon-lg"
                            >
                              <span class="fa-solid fa-video"></span>
                            </button>
                          </div>
                          <button class="btn btn-phoenix-primary">
                            <span class="fa-solid fa-envelope me-2"></span>Send
                            Email
                          </button>
                        </div>
                      </div>
                      <ul class="nav d-flex flex-column py-3 border-bottom">
                        <li class="nav-item">
                          <a
                            class="nav-link px-3 d-flex flex-between-center"
                            href="#!"
                          >
                            <span
                              class="me-2 text-900 d-inline-block"
                              data-feather="clipboard"
                            ></span
                            ><span class="text-1000 flex-1"
                              >Assigned Projects</span
                            ><span
                              class="fa-solid fa-chevron-right fs--3"
                            ></span
                          ></a>
                        </li>
                        <li class="nav-item">
                          <a
                            class="nav-link px-3 d-flex flex-between-center"
                            href="#!"
                          >
                            <span
                              class="me-2 text-900"
                              data-feather="pie-chart"
                            ></span
                            ><span class="text-1000 flex-1">View activiy</span
                            ><span
                              class="fa-solid fa-chevron-right fs--3"
                            ></span
                          ></a>
                        </li>
                      </ul>
                    </div>
                    <div class="p-3 d-flex justify-content-between">
                      <a class="btn btn-link p-0 text-decoration-none" href="#!"
                        >Details </a
                      ><a
                        class="btn btn-link p-0 text-decoration-none text-danger"
                        href="#!"
                        >Unassign
                      </a>
                    </div>
                  </div>
                </div>
                <div class="dropdown">
                  <a
                    class="dropdown-toggle dropdown-caret-none d-inline-block outline-none"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-auto-close="outside"
                  >
                    <div class="avatar avatar-xl me-1">
                      <img
                        class="rounded-circle"
                        src="../../assets/img//team/60.webp"
                        alt=""
                      />
                    </div>
                  </a>
                  <div
                    class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden"
                    style="width: 320px"
                  >
                    <div class="position-relative">
                      <div
                        class="bg-holder z-index--1"
                        style="
                          background-image: url(../../assets/img/bg/bg-32.png);
                          background-size: auto;
                        "
                      ></div>
                      <!--/.bg-holder-->

                      <div class="p-3">
                        <div class="text-end">
                          <button class="btn p-0 me-2">
                            <span
                              class="fa-solid fa-user-plus text-white light"
                            ></span>
                          </button>
                          <button class="btn p-0">
                            <span
                              class="fa-solid fa-ellipsis text-white light"
                            ></span>
                          </button>
                        </div>
                        <div class="text-center">
                          <div
                            class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2"
                          >
                            <img
                              class="rounded-circle border border-white"
                              src="../../assets/img//team/60.webp"
                              alt=""
                            />
                          </div>
                          <h6 class="text-white light">Josef Stravinsky</h6>
                          <p class="text-600 fw-semi-bold fs--2 mb-2">
                            @tyrion222
                          </p>
                          <div class="d-flex flex-center mb-3">
                            <h6 class="text-white light mb-0">
                              224
                              <span class="fw-normal text-300"
                                >connections</span
                              >
                            </h6>
                            <span
                              class="fa-solid fa-circle text-700 mx-1"
                              data-fa-transform="shrink-10 up-2"
                            ></span>
                            <h6 class="text-white light mb-0">
                              23 <span class="fw-normal text-300">mutual</span>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bg-white">
                      <div class="p-3 border-bottom">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex">
                            <button
                              class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"
                            >
                              <span class="fa-solid fa-phone"></span>
                            </button>
                            <button
                              class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"
                            >
                              <span class="fa-solid fa-message"></span>
                            </button>
                            <button
                              class="btn btn-phoenix-secondary btn-icon btn-icon-lg"
                            >
                              <span class="fa-solid fa-video"></span>
                            </button>
                          </div>
                          <button class="btn btn-phoenix-primary">
                            <span class="fa-solid fa-envelope me-2"></span>Send
                            Email
                          </button>
                        </div>
                      </div>
                      <ul class="nav d-flex flex-column py-3 border-bottom">
                        <li class="nav-item">
                          <a
                            class="nav-link px-3 d-flex flex-between-center"
                            href="#!"
                          >
                            <span
                              class="me-2 text-900 d-inline-block"
                              data-feather="clipboard"
                            ></span
                            ><span class="text-1000 flex-1"
                              >Assigned Projects</span
                            ><span
                              class="fa-solid fa-chevron-right fs--3"
                            ></span
                          ></a>
                        </li>
                        <li class="nav-item">
                          <a
                            class="nav-link px-3 d-flex flex-between-center"
                            href="#!"
                          >
                            <span
                              class="me-2 text-900"
                              data-feather="pie-chart"
                            ></span
                            ><span class="text-1000 flex-1">View activiy</span
                            ><span
                              class="fa-solid fa-chevron-right fs--3"
                            ></span
                          ></a>
                        </li>
                      </ul>
                    </div>
                    <div class="p-3 d-flex justify-content-between">
                      <a class="btn btn-link p-0 text-decoration-none" href="#!"
                        >Details </a
                      ><a
                        class="btn btn-link p-0 text-decoration-none text-danger"
                        href="#!"
                        >Unassign
                      </a>
                    </div>
                  </div>
                </div>
                <div class="dropdown">
                  <a
                    class="dropdown-toggle dropdown-caret-none d-inline-block outline-none"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-auto-close="outside"
                  >
                    <div class="avatar avatar-xl me-1">
                      <img
                        class="rounded-circle"
                        src="../../assets/img//team/65.webp"
                        alt=""
                      />
                    </div>
                  </a>
                  <div
                    class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden"
                    style="width: 320px"
                  >
                    <div class="position-relative">
                      <div
                        class="bg-holder z-index--1"
                        style="
                          background-image: url(../../assets/img/bg/bg-32.png);
                          background-size: auto;
                        "
                      ></div>
                      <!--/.bg-holder-->

                      <div class="p-3">
                        <div class="text-end">
                          <button class="btn p-0 me-2">
                            <span
                              class="fa-solid fa-user-plus text-white light"
                            ></span>
                          </button>
                          <button class="btn p-0">
                            <span
                              class="fa-solid fa-ellipsis text-white light"
                            ></span>
                          </button>
                        </div>
                        <div class="text-center">
                          <div
                            class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2"
                          >
                            <img
                              class="rounded-circle border border-white"
                              src="../../assets/img//team/65.webp"
                              alt=""
                            />
                          </div>
                          <h6 class="text-white light">Igor Borvibson</h6>
                          <p class="text-600 fw-semi-bold fs--2 mb-2">
                            @tyrion222
                          </p>
                          <div class="d-flex flex-center mb-3">
                            <h6 class="text-white light mb-0">
                              224
                              <span class="fw-normal text-300"
                                >connections</span
                              >
                            </h6>
                            <span
                              class="fa-solid fa-circle text-700 mx-1"
                              data-fa-transform="shrink-10 up-2"
                            ></span>
                            <h6 class="text-white light mb-0">
                              23 <span class="fw-normal text-300">mutual</span>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bg-white">
                      <div class="p-3 border-bottom">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex">
                            <button
                              class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"
                            >
                              <span class="fa-solid fa-phone"></span>
                            </button>
                            <button
                              class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"
                            >
                              <span class="fa-solid fa-message"></span>
                            </button>
                            <button
                              class="btn btn-phoenix-secondary btn-icon btn-icon-lg"
                            >
                              <span class="fa-solid fa-video"></span>
                            </button>
                          </div>
                          <button class="btn btn-phoenix-primary">
                            <span class="fa-solid fa-envelope me-2"></span>Send
                            Email
                          </button>
                        </div>
                      </div>
                      <ul class="nav d-flex flex-column py-3 border-bottom">
                        <li class="nav-item">
                          <a
                            class="nav-link px-3 d-flex flex-between-center"
                            href="#!"
                          >
                            <span
                              class="me-2 text-900 d-inline-block"
                              data-feather="clipboard"
                            ></span
                            ><span class="text-1000 flex-1"
                              >Assigned Projects</span
                            ><span
                              class="fa-solid fa-chevron-right fs--3"
                            ></span
                          ></a>
                        </li>
                        <li class="nav-item">
                          <a
                            class="nav-link px-3 d-flex flex-between-center"
                            href="#!"
                          >
                            <span
                              class="me-2 text-900"
                              data-feather="pie-chart"
                            ></span
                            ><span class="text-1000 flex-1">View activiy</span
                            ><span
                              class="fa-solid fa-chevron-right fs--3"
                            ></span
                          ></a>
                        </li>
                      </ul>
                    </div>
                    <div class="p-3 d-flex justify-content-between">
                      <a class="btn btn-link p-0 text-decoration-none" href="#!"
                        >Details </a
                      ><a
                        class="btn btn-link p-0 text-decoration-none text-danger"
                        href="#!"
                        >Unassign
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr />
        <h3 class="text-1100 mb-4 mt-4">Event Summary</h3>
        <p class="text-800 mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
          condimentum id mauris vel pharetra. Pellentesque gravida quam nec sem
          molestie mattis.
        </p>

        <hr />
        <h3 class="text-1100 mb-4 mt-4">Action Taken</h3>
        <p class="text-800 mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
          condimentum id mauris vel pharetra. Pellentesque gravida quam nec sem
          molestie mattis.
        </p>

        <hr />
        <h3 class="text-1100 mb-4 mt-4">Summary Report</h3>
        <p class="text-800 mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
          condimentum id mauris vel pharetra. Pellentesque gravida quam nec sem
          molestie mattis. Praesent consequat lacinia nunc egestas tincidunt.
          Donec ut ex condimentum, convallis sapien sit amet, faucibus ante.
          Nulla pretium mauris a lectus finibus, a volutpat felis porta.
          Pellentesque eget faucibus sem. Suspendisse potenti. Morbi eleifend
          lectus eu aliquet volutpat. Nulla mattis nibh justo, in sollicitudin
          nisi aliquet a. Aliquam a justo id erat pretium finibus. Nulla
          scelerisque nibh non accumsan fringilla. Nunc molestie pellentesque
          felis, vitae tristique diam.
        </p>

      </div>
    </div>

    <div
      class="col-12 col-xxl-4 px-0 border-start-xxl border-300 border-top-sm"
    >
      <div class="" style="height: 90vh">
        <div class="bg-light dark__bg-1100 h-100">
          <div class="px-4 px-lg-6 py-4">
            <h4 class="mb-3">Files</h4>
          </div>
          <div class="border-top border-300 px-4 px-lg-6 py-4">
            <div class="me-n3">
              <div class="d-flex flex-between-center">
                <div class="d-flex mb-1">
                  <span class="fa-solid fa-image me-2 text-700 fs--1"></span>
                  <p class="text-1000 mb-0 lh-1">Silly_sight_1.png</p>
                </div>
                <div class="font-sans-serif btn-reveal-trigger">
                  <button
                    class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal"
                    type="button"
                    data-bs-toggle="dropdown"
                    data-boundary="window"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-bs-reference="parent"
                  >
                    <span class="fas fa-ellipsis-h"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end py-2">
                    <a class="dropdown-item" href="#!">Edit</a
                    ><a class="dropdown-item text-danger" href="#!">Delete</a
                    ><a class="dropdown-item" href="#!">Download</a
                    ><a class="dropdown-item" href="#!">Report abuse</a>
                  </div>
                </div>
              </div>
              <div class="d-flex fs--1 text-700 mb-2 flex-wrap">
                <span>768 kb</span><span class="text-400 mx-1">| </span
                ><a href="#!">Shantinan Mekalan </a
                ><span class="text-400 mx-1">| </span
                ><span class="text-nowrap">21st Dec, 12:56 PM</span>
              </div>
              <img
                class="rounded-2"
                src="../../assets/img/generic/40.png"
                alt=""
                style="max-width: 270px"
              />
            </div>
          </div>
          <div class="border-top border-bottom border-300 px-4 px-lg-6 py-4">
            <div class="me-n3">
              <div class="d-flex flex-between-center">
                <div>
                  <div class="d-flex align-items-center mb-1 flex-wrap">
                    <span
                      class="fa-solid fa-file-lines me-2 fs--1 text-700"
                    ></span>
                    <p class="text-1000 mb-0 lh-1">Project.txt</p>
                  </div>
                  <div class="d-flex fs--1 text-700 mb-0 flex-wrap">
                    <span>123 kb</span><span class="text-400 mx-1">| </span
                    ><a href="#!">Shantinan Mekalan </a
                    ><span class="text-400 mx-1">| </span
                    ><span class="text-nowrap">12th Dec, 12:56 PM</span>
                  </div>
                </div>
                <div class="font-sans-serif btn-reveal-trigger">
                  <button
                    class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal"
                    type="button"
                    data-bs-toggle="dropdown"
                    data-boundary="window"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-bs-reference="parent"
                  >
                    <span class="fas fa-ellipsis-h"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end py-2">
                    <a class="dropdown-item" href="#!">Edit</a
                    ><a class="dropdown-item text-danger" href="#!">Delete</a
                    ><a class="dropdown-item" href="#!">Download</a
                    ><a class="dropdown-item" href="#!">Report abuse</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="px-5 px-md-6 mt-3 mb-9">
            <a class="fw-bold fs--1" href="#!"
              ><span class="fas fa-plus me-1"></span>Add file(s)</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/navbar-script") %> <%- include("partials/footer") %>
