<%- include("partials/header") %> <%- include("partials/navbar") %>

<div class="content">
  <script src="/assets/three.js"></script>
</div>

<%- include("partials/navbar-script") %> <%- include("partials/footer") %>