<div class="hover-actions top-0 end-0 mt-4 me-4">
  <button
    class="btn btn-primary btn-icon flex-shrink-0"
    data-bs-toggle="modal"
    data-bs-target="#schedule-modal-2"
  >
    <span class="fa-solid fa-chevron-right"></span>
  </button>
</div>
