/* Add a CSS class for the loading animation */
.loading {
  cursor: not-allowed;
  pointer-events: none;
  position: relative;
}

/* Customize the loading spinner animation */
.loading::after {
  content: '';
  border: 3.25px solid #f3f3f3; /* Light gray border */
  border-top: 3.25px solid transparent; /* Blue border for the spinner */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.8s linear infinite; /* Rotate the spinner */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading .button-text {
  visibility: hidden;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.noshow{
  visibility: hidden;
}
